@font-face {
    font-family: "lucidaSans";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

* {
    font-family: "lucidaSans";
}

html {
    overflow-x: hidden;
}

body {
    background-color: transparent;
}

#profileNav{
    color: #FFE603;
}

h2 {
    margin-left: 40px;
    font-size: 20px;
    color: white;
    margin-top: -10px;
    color: #E5E5E5;
}

#profileCol{
    position: absolute;    
    margin-top: 2%;
}

.row{
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: justify;
}

#row1{
    height: 50px;
    background-color: #3D3B3B;
}

#row2{
    height: 50px;
}

.form-control{
    width: 400px;
    background-color: #E5E5E5; 
}

.userLabel {
    color: #FFE603;
    margin-left: 30px;
}

.userInfo {
    color: #E5E5E5;
    margin-left: 5%;
}

#colImg{
    position: absolute;
    z-index: 1;
    padding-right: 5%;
    margin-top: -2%;
}

.btn {
    background-color: #727070;
    color: white;
    width: 180px;
    margin-top: 3%;
    border-width: 3px;
    border-color: #727070;
}

.btn:hover {
    background-color: #FFE603;
    border-color: #FFE603;
    color: #262626;
    transition:0.5s;
}

#profileImg{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profileLabel{
    background-color: rgb(223, 223, 223);
    height: 95%;
    text-align: center;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262626;
    border-width: 3px;
    border-color: #727070;
}

#profileLabel:hover{
    cursor: pointer;
}

#profileLabel:hover {
    background-color: #727070;
    color: rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
    transition:0.5s;
}