@font-face {
    font-family: "lucidaSansDemibold";
    src: url("../fonts/lucida-sans/lucidasansdemibold.ttf");
}

@font-face {
    font-family: "lucidaSansRegular";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}


* {
    font-family: "lucidaSansRegular";
}

body{
    background-color: #262626;
}

#logo {
    padding: 15px;
}

right *{
    font-size: 20px;
    margin: 0px 6px;
    color: #FFFFFF;
}

right *:hover{
    color: #FFE603;
    text-decoration: none;
    transition:0.5s;
}

#background {
    opacity: 60%;
}

#imgText {
    font-family: "lucidaSansDemibold";
    font-size: 80px;
    line-height: 100px;
}

#imgLink {
    font-weight: bolder;
    font-size: 25px;
    line-height: 20px;

    color: #FFE603;
}

.carousel-caption {
    height: 75%;
    margin-left: -10%;
}