@font-face {
    font-family: "lucidaSans";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

* {
    font-family: "lucidaSans";
}

html {
    overflow-x: hidden;
}

body {
    background-image: url("../assets/home_page.jpg");
    background-color: #262626;
    background-blend-mode: overlay;
    
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginNav {
    color: #FFE603;
}

#card {
    margin-top: 20%;
    padding: 50px;
}