@font-face {
    font-family: "lucidaSans";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

* {
    font-family: "lucidaSans";
}

html {
    overflow-x: hidden;
}

body {
    background-color: transparent;
}

#loginNav {
    color: #FFE603;
}

h1 {
    color: white;
}

label {
    color: white;
    padding: 10px;
}

#card {
    margin-top: 15%;
    padding: 15px;
    border-radius: 25px;
    background-color: #262626;
}

#loginBtn {
    background-color: #727070;
    color: white;
    margin-top: 10px;
}

#loginBtn:hover {
    background-color: #FFE603;
    color: black;
    transition:0.5s;
}

#recoverPassword {
    color: #FFE603;
    font-size: smaller;
    padding: 20px;
}