@font-face {
    font-family: "lucidaSansRegular";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

@font-face {
    font-family: "lucidaSansDemibold";
    src: url("../fonts/lucida-sans/lucidasansdemibold.ttf");
}

* {
    font-family: "lucidaSansRegular";
}

html {
    overflow-x: hidden;
}

body {
    background: inherit;
    background-blend-mode: inherit;
}
#playersCol {
    margin-left: 30px;
    color: white;
}

h2 {
    margin-left: 40px;
    font-size: 20px;
    color: white;
    margin-top: -10px;
    color: #E5E5E5;
    padding-bottom: 30px;
}

.btn {
    background-color: #727070;
    color: white;
}

.btn:hover {
    background-color: #FFE603;
    color: black;
    transition:0.5s;
}

#row1{
    height: 30px;
    background-color: #3D3B3B;
}

#row2{
    height: 30px;
}

.posIcon {
    margin-top: 3px; 
    height: 20px;
}
#pageBtn{
    display: flex;
    align: center;
}