@font-face {
    font-family: "lucidaSansRegular";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

@font-face {
    font-family: "lucidaSansDemibold";
    src: url("../fonts/lucida-sans/lucidasansdemibold.ttf");
}

* {
    font-family: "lucidaSansRegular";
}

html {
    overflow-x: hidden;
}

body {
    background-color: transparent;
}

#tournamentsNav{
    color: #FFE603;
}

h1 {
    color: white;
    margin: 10px;
    margin-top: 30px;
    margin-left: 40px;
    font-family: "lucidaSansDemibold";
}

.row{
    display: flex;
    align-items: center;

}


#row1{
    height: 30px;
    background-color: #3D3B3B;
}

#row2{
    height: 30px;
}

label {
    color: white;
    line-height: 40px;
}



p{
    font-size: 16px;
    color: #FFE603;
    padding-left: 60px;

}

p2{
    
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 270px;

}


#coli{
    padding: 35px;
}
#id_search{
    width: 225px;
}



#searchBtn{
    background-color: #727070;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    
}

#searchBtn:hover {
    background-color: #FFE603;
    color: black;
    transition:0.5s;
}



#infoBtn {
    background-color: #727070;
    color: white;
    line-height: 8px;
    float: right;
    height: 25px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

#infoBtn:hover {
    background-color: #FFE603;
    color: #262626;
    }



#tournBtn{
    background-color: #727070;
    float: center;
    left: 40px;
    color: white;
    width: 200px;
}
#tournBtn:hover {
    background-color: #FFE603;
    color: black;
    transition:0.5s;
}

#backBtn{
    background-color: #727070;
    float: right;
    color: white;
    margin-right: 135px;

    width: 100px;
}
#backBtn:hover {
    background-color: #FFE603;
    color: black;
    transition:0.5s;
}