@font-face {
    font-family: "lucidaSansRegular";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

@font-face {
    font-family: "lucidaSansDemibold";
    src: url("../fonts/lucida-sans/lucidasansdemibold.ttf");
}

* {
    font-family: "lucidaSansRegular";
}

html {
    overflow-x: hidden;
}

body {
    background: inherit;
    background-blend-mode: inherit;
}

#tournamentsNav{
    color: #FFE603;
}

#myTabContent .row{
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 30px;
    text-align: justify;
    color: white;
    font-family: "lucidaSansRegular";
}

#row1{
    height: 50px;
    background-color: #3D3B3B;
}
 
#row2{
    height: 50px;
}

.nav-tabs{
    margin-left: 1%;
}

.nav-tabs .nav-link :not(.active) {
    border-color: transparent !important;   
}

.nav-tabs a{
    font-family: "lucidaSansDemibold";
}

.nav-tabs .nav-link:hover{
    background-color: #3D3B3B;
    color: white;
    border-color: #3D3B3B;
}

#new-tab{
    background-color: white; 
    color: #262626; 
    border-bottom: none;
    border-color: #3D3B3B;
}

#new-tab:hover{
    background-color: #3D3B3B;
    color: white;
}

.border-1{
    border-width: 6px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-color: #727070 !important;
}

#myTab a.active.nav-link{
    border-color: #727070;
    background-color: #727070 !important;
    color: white;   
}

#pageBtn {
    background-color: #727070;
    color: white;
    height: 80%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#pageBtn:hover {
    background-color: #FFE603;
    color: #262626;
    transition:0.5s;
}

#all #pageBtn{
    float: right;
}

#my #pageBtn{
    float: right;
}

.btn-secondary{
    margin-right: 20px;
    width: 70px;
    background-color: #3D3B3B;
    border-color: #727070;
    border-width: 3px;
}

.btn-secondary:hover{
    cursor: pointer;
    border-color: #727070;
    background-color: #727070;
}

.content1 .row{
    margin-bottom: 10px;
}

#dateRow{
    height: 90px;

}

#check{
    padding-right:2px;
    margin:5px;
    padding-left:3px;
}

#id_beginDate,#id_endDate{

    width: 175px;
    padding: 10px;
    margin-left: 10px;
    margin-right:20px ;
}

.content1{
    margin-top: 20px;

}

.card{
    color: white;
    background-color: #1b1b1b;
    border-radius: 0;
}

.card-body{
    padding-left: 7%;
    margin-bottom: -0.5%;
}

.titleRow{
    text-align: justify;
    color: white;
    font-family: "lucidaSansRegular";
    padding-top: -5px !important;
}

.contentFieldDay{
    margin-top: 20px;
    margin-bottom: 20px;
}

#rowButton{
    background-color: transparent;
    border: none;
    text-align: left;
    color: white;
    text-decoration: none;
}

.userLabel {
    color: white;
}

.userLabel:hover {
    color: white;
}
