@font-face {
    font-family: "lucidaSans";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

* {
    font-family: "lucidaSans";
}

html {
    overflow-x: hidden;
}

body {
    background-color: transparent;
}

#profileNav{
    color: #FFE603;
}

#profileCard {
    margin: 5%;
    border-radius: 25px;
    padding: 2%;
    background-color: #262626;
}

.card-title {
    color: white;
}

.card-subtitle {
    color: #E5E5E5;
}

.line {
    line-height: 40px;
}

.userLabel {
    color: #FFE603;
    margin-left: 30px;
}

.userInfo {
    color: #E5E5E5;
}

.btn {
    background-color: #727070;
    color: white;
}

.btn:hover {
    background-color: #FFE603;
    color: black;
    transition:0.5s;
}
