@font-face {
    font-family: "lucidaSansRegular";
    src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

* {
    font-family: "lucidaSansRegular";
}

html {
    overflow-x: hidden;
}

body {
    background-color: transparent;
}

#profileNav{
    color: #FFE603;
}

h2 {
    margin-left: 40px;
    font-size: 20px;
    color: white;
    margin-top: -10px;
    color: #FFE603;
}

#profileCol{
    margin-top: 2%;
}

.row.min{
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: justify;
}

#row1{
    height: 50px;
    background-color: #3D3B3B;
}

#row2{
    height: 50px;
}

.userLabel {
    color: #FFE603;
    margin-left: 30px;
}

.userInfo {
    color: #E5E5E5;
    margin-left: 5%;
}

#colImg{
    position: absolute;
    z-index: 1;
    padding-right: 5%;
    margin-top: -2%;
}

.btn {
    background-color: #727070;
    color: white;
    width: 180px;
    margin-top: 2%;
    z-index: 1;
}

.btn:hover {
    background-color: #FFE603;
    color: #262626;
    transition:0.5s;
}
