{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/askSub.css' %}">
{% endblock %}



{% block content2 %}
    <h4>Tournament</h4>
    <h2><strong>{{tournament.name}}</strong></h2>
    <h4 id="reserves"><strong>Reserves</h4>
    <div class="content">
      {% for reserve in reserves %}
        <div class="row" id ="{{reserve.1}}">
            <div class="col-6">
              <p class="name line">{{reserve.0.user.firstName}} {{reserve.0.user.lastName}}</p>
            </div>
            <div class="col-6">
                <a class="btn rounded-pill" href="">Ask to Sub</a>
            </div>
          </div>
        
      {% endfor %}
    </div>
    <div class="row">
        <div class="col" align='right'>
            <a class="btn rounded-pill" href="{{request.META.HTTP_REFERER}}">Back</a>
        </div>
    </div>

{% endblock %}
