{% extends 'appEball/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/base_with_grey_background.css' %}">
{% endblock %}

{% block content %}
    <div class="card position-static" id="card1" style="background-color: #262626; border: none; height: 80%; border-radius: 0px; overflow-y: scroll; overflow-x: hidden;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h1 style = "margin: 25px; color: white;"><b>
            {% block title %}
            {% endblock %}
        </b></h1>
            
        {% block content2 %}
        {% endblock %}
    </div>
{% endblock %}