{% extends 'appEball/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/base_with_grey_background.css' %}">
{% endblock %}

{% block content %}
    <div class="card position-static" id="card1" style="background-color: #262626; border: none; height: 80%; border-radius: 0px; overflow-y: scroll; overflow-x: hidden;">
        <h1 style = "margin: 25px; color: white;">
            {% block title %}
            {% endblock %}
        </h1>
            
        {% block content2 %}
        {% endblock %}
    </div>
{% endblock %}