{% load static %}
<html>
    <head>
        {% if title %}
            <title>Eball - {{ title }}</title>
        {% else %}
            <title>Eball</title>
        {% endif %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <link rel="stylesheet" href="{% static 'appEball/css/base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-sm">
            <a class="navbar-brand" href="{% url 'appEball:home_page' %}">
                <img src="{% static 'appEball/assets/logo.png' %}" width="80px">
            </a>
            <ul class="navbar-nav ml-auto" id="navbarList">
                {% if user.is_authenticated %}
                    {% if user.username == "admin" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'appEball:users' %}" id="usersNav">Users</a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appEball:notifications' %}" id="notificationsNav">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="myCalendarNav">MyCalendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="myTeamsNav">MyTeams</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appEball:teams_list' %}" id="teamsNav">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="tournamentNav">Tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appEball:help' %}" id="helpNav">Help</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appEball:userProfile' user.username %}" id='profileNav'>MyProfile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appEball:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appEball:login' %}" id="loginNav">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appEball:register' %}" id="registerNav">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
