{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/edit_user_profile.css' %}">
{% endblock %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content2 %}
	<h2>{{ requestedUser.firstName }} {{ requestedUser.lastName }}</h2>
	<div class="content" id="profileContent">
		 <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<div class="col" id="profileCol">
				<div class="row" id="row1">
					<div class="col-sm-2">
						<p class="userLabel line">First name:</p>
					</div>
					<div class="col">
						<input type="userInfo line" class="form-control rounded-pill" name="firstName" id="firstName" value={{ requestedUser.firstName }}>				
					</div>
				</div>
				<div class="row" id="row2">
					<div class="col-sm-2">
						<p class="userLabel line">Last name:</p>
					</div>
					<div class="col">
						<input type="userInfo line" class="form-control rounded-pill" name="lastName" id="lastName" value={{ requestedUser.lastName }}>				
					</div>
				</div>
				<div class="row yo" id="row1">
					<div class="col-sm-2">
						<p class="userLabel line">Username:</p>
					</div>
					<div class="col">
						<input type="userInfo line" class="form-control rounded-pill" name="username" id="username" value={{ requestedUser.username }}>				
					</div>							
				</div>
				<div class="row" id="row2">
					<div class="col-sm-2">
						<p class="userLabel line">E-mail:</p>
					</div>
					<div class="col">
						<input type="userInfo line" class="form-control rounded-pill" name="email" id="email" value={{ requestedUser.email }}>	
					</div>
				</div>
				<div class="row"  id="row1">
					<div class="col-sm-2">
						<p class="userLabel line">CC number:</p>
					</div>
					<div class="col">
						<input type="userInfo line" class="form-control rounded-pill"  name="ccNumber" id="ccNumber" value={{ requestedUser.ccNumber }}>		
					</div>
				</div>
				<div class="row" id="row2" >
					<div class="col-sm-2">
						<p class="userLabel line">Phone number:</p>
					</div>
					<div class="col">
						<input type="userInfo line" class="form-control rounded-pill" name ="phoneNumber"id="phoneNumber" value={{ requestedUser.phoneNumber }}>	
					</div>
				</div>
				<div class="row">
					<div class="col" align='right'>
						<label class="btn rounded-pill" for="profileImg" id="profileLabel">Choose profile pic</label>
						<input type="file" class="form-control rounded-pill" name ="profileImg" id="profileImg" value={{ requestedUser.profileImg }}>
					</div>
					<div class="col " align='center'>
						<button class="btn rounded-pill " type="submit" >Save</button>
					</div>
					<div class="col" align='left'>
						<a class="btn rounded-pill " href={{request.META.HTTP_REFERER}}>Back</a>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
