{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/game.css' %}">
    <script type="text/javascript" src="{% static 'appEball/js/game.js' %}"></script>
{% endblock %}

{% block title %}
    Game
    {% endblock %}
    
    {% block content2 %}    
    <form method="post">
        {% csrf_token %}
    <h2>{{game.tournament.name}}</h2>
    <div class="content">
        <div class="row" >
            <div class="col" align='center'>
                <p class="title">Round {{game.gRound}}</p>
            </div>
        </div>
        <div class="row disp" id="row2" align='center'>
            <div class="col" ></div>
            <div class="col-sm-4" align='center'>
                <p class="center">{{game.slot.date|date:'d-m-Y, H:i'}}, {{game.slot.field}} </p>
            </div>
            <div class="col" ></div>          
        </div>
        <div class="row disp" id="row1" align='center'>
            <div class="col">
                {% if user == game.team1.captain and isOver == True %}
                <a class="btn rounded-pill float-right"  id = "pageBtn" href="{% url 'appEball:presencas' game.team2.pk %}" id='pageBtn'style="height: 80%;">Attendance</a>
                {% endif %}
            </div>
            <div class="col" align="right">
                <p class="center team" style="color:#FFE603"> {{game.team1.name}} </p>
            </div>
            <div class="col-sm-1" align='center'>
                <p class="center"> vs </p>
            </div>
            <div class="col" align="left" >
                <p class="center team" style="color:#FFE603"> {{game.team2.name}} </p>
            </div>
            <div class="col">
                {% if user == game.team2.captain and isOver == True %}
                <a class="btn rounded-pill float-left"  id = "pageBtn" href="{% url 'appEball:presencas' game.team2.pk %}" id='pageBtn'style="height: 80%; ">Attendance</a>
                {% endif %}
            </div>
        </div>
        <div class="row disp" id="row2" align='center'>
            <div class="col" align="right" >                
                <div class="row">                
                    <div class="col" align="right" >
                        {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 and isOver == True %}
                            {% if user == game.tournament.user or user == game.team2.captain or user == game.team1.captain %}
                            <a id="minus1" style="margin-right: 10px;background: inherit; border: none;">
                                <img src="{% static 'appEball/assets/minus_preto.png' %}"  alt="" >
                            </a>
                            <a id="plus1" style="background: inherit; border: none;">
                                <img src="{% static 'appEball/assets/plus_preto.png' %}"  style="width:25px;height:25px;" alt="" >
                            </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-3" align="right" >
                        {% if user == game.team1.captain %}
                            <input class="center goals" readonly {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 %} {% if game.result.goalsT1byC1 < 0 %} value=0 {% else %} value={{game.result.goalsT1byC1}} {% endif %} {% else %} value={{game.result.goalsT1Final}} {% endif %} id="team1Input" name="team1Result" style="width: 30px; background: inherit; border: none;">
                        {% elif user == game.team2.captain %}
                            <input class="center goals" readonly {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 %} {% if game.result.goalsT1byC2 < 0 %} value=0 {% else %} value={{game.result.goalsT1byC2}} {% endif %} {% else %} value={{game.result.goalsT1Final}} {% endif %} id="team1Input" name="team1Result" style="width: 30px; background: inherit; border: none;">
                        {% else %}
                            <input class="center goals" readonly {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 %} value=0 {% else %} value={{game.result.goalsT1Final}} {% endif %} id="team1Input" name="team1Result" style="width: 30px; background: inherit; border: none;">
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-sm-1" align='center'>
                <p class="center"> - </p>
            </div>
            <div class="col" align="left" >        
                <div class="row">
                    <div class="col-3" align="left" >
                        {% if user == game.team1.captain %}
                            <input class="center goals" readonly {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 %} {% if game.result.goalsT2byC1 < 0 %} value=0 {% else %} value={{game.result.goalsT2byC1}} {% endif %} {% else %} value={{game.result.goalsT2Final}} {% endif %} id="team2Input" name="team2Result" style="width: 30px; background: inherit; border: none;">
                        {% elif user == game.team2.captain %}
                            <input class="center goals" readonly {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 %} {% if game.result.goalsT2byC2 < 0 %} value=0 {% else %} value={{game.result.goalsT2byC2}} {% endif %} {% else %} value={{game.result.goalsT2Final}} {% endif %} id="team2Input" name="team2Result" style="width: 30px; background: inherit; border: none;">
                        {% else %}
                            <input class="center goals" readonly {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 %} value=0 {% else %} value={{game.result.goalsT2Final}} {% endif %} id="team2Input" name="team2Result" style="width: 30px; background: inherit; border: none;">
                        {% endif %}
                    </div>
                    <div class="col" align="left" >
                        {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 and isOver == True %}
                            {% if user == game.tournament.user or user == game.team1.captain or user == game.team2.captain %}
                            <a id="minus2" style="background: inherit; border: none;">
                                <img src="{% static 'appEball/assets/minus_preto.png' %}"  alt="" >
                            </a>
                            <a id="plus2" style="margin-left: 10px; background: inherit; border: none;">
                                <img src="{% static 'appEball/assets/plus_preto.png' %}"  style="width:25px;height:25px;"  alt="" >
                            </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>           
        </div>
            <div class="row disp" align='center' style="margin-top: 20px;">
                <div class="col" align="right">
                    {% if game.team1.tactic.nST > 0 %}
                        <p class="center" > Tactic: {{game.team1.tactic.nDF}} -{{game.team1.tactic.nMF}} -{{game.team1.tactic.nFW}}-{{game.team1.tactic.nST}} </p>
                    {% else %}
                        <p class="center" > Tactic: {{game.team1.tactic.nDF}} -{{game.team1.tactic.nMF}} -{{game.team1.tactic.nFW}} </p>
                    {% endif %}
                </div>
                <div class="col-sm-5" align='center'></div>
                <div class="col" align="left" >
                    {% if  game.team2.tactic.nST > 0 %}
                    <p class="center" > Tactic: {{game.team2.tactic.nDF}} -{{game.team2.tactic.nMF}} -{{game.team2.tactic.nFW}}-{{game.team2.tactic.nST}} </p>
                    {% else %}
                    <p class="center" > Tactic: {{game.team2.tactic.nDF}} -{{game.team2.tactic.nMF}} -{{game.team2.tactic.nFW}} </p>
                    {% endif %}
                </div>          
            </div>
            <div class="row disp" align='center' >
                <div class="col" style="margin-right: 2%">
                    {% for player in starterPlayers1 %}
                    <div class="row disp" id="{{player.0}}" style="height: 40px;font-size: 20px;">
                        <div class="col-5">
                            {% if player.2 %}
                                <p class="text-left">{{player.1.user.firstName}} {{player.1.user.lastName}}</p>
                            {% elif player.1.playerSub != None %}
                                <p class="text-left">{{player.1.playerSub.user.firstName}} {{player.1.playerSub.user.lastName}}</p>
                            {% elif player.1.reserveSub != None %}
                                <p class="text-left">{{player.1.reserveSub.user.firstName}} {{player.1.reserveSub.user.lastName}}</p>
                            {% endif %}
                        </div>
                        <div class="col" align='right'>
                            {% if player.2 %}
                                <p class="text-right">{{ player.1.position}}</p>
                            {% else %}
                                <p class="text-right">{{ player.1.playerSub.position}}</p>
                            {% endif %}
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col" align='right' style="margin-left: 2%">
                    {% for player in starterPlayers2 %}
                    <div class="row disp" id="{{player.0}}" style="height: 40px;font-size: 20px;">
                        <div class="col-2" >
                            {% if player.2 %}
                                <p class="text-left">{{ player.1.position}}</p>
                            {% else %}
                                <p class="text-left">{{ player.1.playerSub.position}}</p>
                            {% endif %}
                        </div>
                        <div class="col" >
                            {% if player.2 %}
                                <p class="text-right">{{player.1.user.firstName}} {{player.1.user.lastName}}</p>
                            {% elif player.1.playerSub != None %}
                                <p class="text-right">{{player.1.playerSub.user.firstName}} {{player.1.playerSub.user.lastName}}</p>
                            {% elif player.1.reserveSub != None %}
                                <p class="text-right">{{player.1.reserveSub.user.firstName}} {{player.1.reserveSub.user.lastName}}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row disp" align='center' style="margin-top: 20px;">
                {% if game.result.goalsT1Final < 0 and game.result.goalsT2Final < 0 and isOver == True %}
                    {% if user == game.tournament.user or user == game.team1.captain or user == game.team2.captain %}
                        <div class="col" align="right" >
                            <button class="btn rounded-pill center" id='pageBtn' style="width: 160px;" type="submit">Confirm</button>
                        </div>
                    {% endif %}
                <div class="col" align="left">
                {% else %}
                    <div class="col" align="center">
                {% endif %}
                    <a class="btn rounded-pill" href="{{request.META.HTTP_REFERER}}" id='pageBtn' style="width: 160px;">Back</a>
                
                </div>          
            </div>
        </form>
    </div>
{% endblock %}