{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/help.css' %}">
{% endblock %}

{% block title %}
    Help
{% endblock %}

{% block content2 %}
    
    <div class="content">
        <div class="row">
            <div class="col-sm-3">
                <h id="subtitle">Tournaments</h>
            </div>
            <div class="col">
                <p>Click on Tournaments at the top bar and then click on the info button of the Tournament of your choice to see the basic information, such as date, local, hours, teams, rounds,..</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h id="subtitle">Teams</h>
            </div>
            <div class="col">
                <p>Click on Teams at the top bar to see which teams still have open spots. You can also click on Join a team if you would like to participate.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h id="subtitle">Register</h>
            </div>
            <div class="col">
                <p>If you want to join a team and don’t have a profile yet, click on Register at the right top corner and create your account.</p>
            </div>
        </div>
        <a class="btn rounded-pill pull-right" role="button" id="backBtn" href={{ request.META.HTTP_REFERER }}>Back</a>
    </div>
    
    
{% endblock %}
