{% extends 'appEball/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/home_page.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col" id="textCol">
            <p>Join a team and</p>
            <p>get onto the</p>
            <p>field.</p>
            <a href="{% url 'appEball:teams_list' %}" id="linkTeams">Check the teams in need of an element</a>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
