{% extends 'appEball/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/home_page.css' %}">
{% endblock %}

{% block content %}
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="background" src="{% static 'appEball/assets/home_page.jpg' %}" class="d-block w-100">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <p id="imgText">Join a team and</p>
                        <p id="imgText">get onto the</p>
                        <p id="imgText">field.</p>
                        <a href="#" id="imgLink">Check the teams in need of an element.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
