
{% load static %}

<html>
    <head>
        <title>Blog Django Girls</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/home_page.css' %}">
    </head>
    <body>
        <main background></main>
        <nav class="navbar fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="logo" class="navbar-brand" href="/">
                        <img src="{% static 'appEball/assets/logo.png' %}">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <right>
                        <a id="Teams" href="teams_list/"><span class="glyphicon glyphicon-user"></span>Teams</a>
                        <a id="Tournaments" href=""><span class="glyphicon glyphicon-user"></span>Tournaments</a>
                        <a id="Help" href=""><span class="glyphicon glyphicon-user"></span>Help</a>
                        <a id="Login" href=""><span class="glyphicon glyphicon-log-in"></span>Login</a>
                        <a id="Register" href="register/"><span class="glyphicon glyphicon-user"></span>Register</a>
                    </right>
                </ul>
            </div>
        </nav>
        
        <h1>Join a team and get onto the field.</h1>
        <a id = 'text' href="teams_list/">Check the teams in need of an element.</a>
        <a id="arrow" href="teams_list/">
            <img src="{% static 'appEball/assets/arrow.png' %}">
        </a>

        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
