{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'appEball/css/joinTeam.css' %}">
{% endblock %}

{% block title %}
    Join Team - {{ team.name }}
{% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-7" id="playersCol">
                        {% for st in sts %}
                            <div class="row">
                                <div class="col">
                                    {% if st %}
                                        {{ st.user.firstName }} {{ st.user.lastName }}
                                    {% else %}
                                        <input type="radio" name="position" value="ST">Choose this position
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    ST
                                </div>
                            </div>
                        {% endfor %}
                        {% for fw in fws %}
                            <div class="row">
                                <div class="col">
                                    {% if fw %}
                                        {{ fw.user.firstName }} {{ fw.user.lastName }}
                                    {% else %}
                                        <input type="radio" name="position" value="FW">Choose this position
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    FW
                                </div>
                            </div>
                        {% endfor %}
                        {% for mf in mfs %}
                            <div class="row">
                                <div class="col">
                                    {% if mf %}
                                        {{ mf.user.firstName }} {{ mf.user.lastName }}
                                    {% else %}
                                        <input type="radio" name="position" value="MF">Choose this position
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    MF
                                </div>
                            </div>
                        {% endfor %}
                        {% for df in dfs %}
                            <div class="row">
                                <div class="col">
                                    {% if df %}
                                        {{ df.user.firstName }} {{ df.user.lastName }}
                                    {% else %}
                                        <input type="radio" name="position" value="DF">Choose this position
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    DF
                                </div>
                            </div>
                        {% endfor %}
                        {% for gk in gks %}
                            <div class="row">
                                <div class="col">
                                    {% if gk %}
                                        {{ gk.user.firstName }} {{ gk.user.lastName }}
                                    {% else %}
                                        <input type="radio" name="position" value="GK">Choose this position
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    GK
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                {% if subsList.0 %}
                                    {{ subsList.0.user.firstName }} {{ subsList.0.user.lastName }}
                                {% else %}
                                    <input type="radio" name="position" value="subST">Choose this position
                                {% endif %}
                            </div>
                            <div class="col">
                                substituto bola
                            </div>
                            <div class="col">
                                ST
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if subsList.1 %}
                                    {{ subsList.1.user.firstName }} {{ subsList.1.user.lastName }}
                                {% else %}
                                    <input type="radio" name="position" value="subFW">Choose this position
                                {% endif %}
                            </div>
                            <div class="col">
                                substituto bola
                            </div>
                            <div class="col">
                                FW
                            </div>
                            {% if subsList.1 %}
                            <div class="col">
                                <a class="btn rounded-pill" href="{% url 'appEball:subPage' team.tournament.pk subsList.1.pk 1  %}" id='pageBtn' style="width: 60%;">Ask to Sub</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if subsList.2 %}
                                    {{ subsList.2.user.firstName }} {{ subsList.2.user.lastName }}
                                {% else %}
                                    <input type="radio" name="position" value="subMF">Choose this position
                                {% endif %}
                            </div>
                            <div class="col">
                                substituto bola
                            </div>
                            <div class="col">
                                MF
                            </div>
                            {% if subsList.2 %}
                            <div class="col">
                                <a class="btn rounded-pill" href="{% url 'appEball:subPage' team.tournament.pk subsList.2.pk 1  %}" id='pageBtn' style="width: 60%;">Ask to Sub</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if subsList.3 %}
                                    {{ subsList.3.user.firstName }} {{ subsList.3.user.lastName }}

                                {% else %}
                                    <input type="radio" name="position" value="subDF">Choose this position
                                {% endif %}
                            </div>
                            <div class="col">
                                substituto bola
                            </div>
                            <div class="col">
                                DF
                            </div>
                            {% if subsList.3 %}
                            <div class="col">
                                <a class="btn rounded-pill" href="{% url 'appEball:subPage' team.tournament.pk subsList.3.pk 1  %}" id='pageBtn' style="width: 60%;">Ask to Sub</a>
                            </div>
                            {% endif %}
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if subsList.4 %}
                                    {{ subsList.4.user.firstName }} {{ subsList.4.user.lastName }}
                                {% else %}
                                    <input type="radio" name="position" value="subGK">Choose this position
                                {% endif %}
                            </div>
                            <div class="col">
                                substituto bola
                            </div>
                            <div class="col">
                                GK
                            </div>
                            {% if subsList.4 %}
                            <div class="col">
                                <a class="btn rounded-pill" href="{% url 'appEball:subPage' team.tournament.pk subsList.4.pk 1  %}"  id='pageBtn' style="width: 60%;">Ask to Sub</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn rounded-pill" id="joinBtn" type="submit">Join Team</button>
                        <a class="btn rounded-pill"  href="{% url 'appEball:askSub' team.tournament.pk %}" id='pageBtn' style="width: 23%;">See Reserves</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}