{% extends 'appEball/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" id="card">
                <div class="form-group">
                    <h1 class="card-title" align='center'>Login</h1>
                    <form action="#" method="post">
                        <label for="inputUsername" id="username">Username or email:</label>
                        <input type="username" class="form-control" id="usernameInput" placeholder="Enter your username">
                        <label for="inputPassword" id="password">Password:</label>
                        <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm password">
                        <a id="recoverPassword" href="" >Forgot your password? Click here to recover it!</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}