{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/my_calendar.css' %}">
{% endblock %}

{% block title %}
    My Calendar
{% endblock %}

{% block content2 %}
    <div class="row" id="row1"> <!--{{ t.0 }}-->
        <div class="col-3"id="coluna">
            <p class="d-inline-block text-truncat" id="t_id">Tournament 1</p>
            </div>
    
        <div class="col-0"id="coluna">
            <p class="d-inline-block text-truncat" id="line"><b>|</b></p>
        </div>
        <div class="col-1" id="coluna">
            <p class="d-inline-block text-truncat" id="teams"><b>Team 1</b></p>
            </div>
        <div class="col-4" id="coluna">
            <p class="d-inline-block text-truncat" id="others">20/10/19, 20:00, Campo Santa Cruz</p>
            </div>
        <div class="col-1" id="coluna">
            <p class="d-inline-block text-truncat" id="teams"><b>Team 1</b></p>
            </div>
        <div class="col-0" id="coluna">
                <p class="d-inline-block text-truncat"id="line"><b>|</b></p>
                </div>
        <div class="col-2"id="coluna">
            <p class="d-inline-block text-truncat" id="others"><b>Round</b></p>
            </div>
        

        </div>
    <div class="row" id="row2">
            <div class="col-3"id="coluna">
                <p class="d-inline-block text-truncat" id="t_id">Tournament 1</p>
                </div>
        
            <div class="col-0"id="coluna">
                <p class="d-inline-block text-truncat" id="line"><b>|</b></p>
            </div>
            <div class="col-1" id="coluna">
                <p class="d-inline-block text-truncat" id="teams"><b>Team 1</b></p>
                </div>
            <div class="col-4" id="coluna">
                <p class="d-inline-block text-truncat" id="others">20/10/19, 20:00, Campo Santa Cruz</p>
                </div>
            <div class="col-1" id="coluna">
                <p class="d-inline-block text-truncat" id="teams"><b>Team 1</b></p>
                </div>
            <div class="col-0" id="coluna">
                    <p class="d-inline-block text-truncat"id="line"><b>|</b></p>
                    </div>
            <div class="col-2"id="coluna">
                <p class="d-inline-block text-truncat" id="others"><b>Round</b></p>
                </div>
            
    
            </div>
    

            

	
{% endblock %}
