{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/my_teams.css' %}">
{% endblock %}

{% block content2 %}
    
    <div class="content">
        <div class="row ">
        	<div class="col-6">
              	<h1>My teams</h1>
            </div>
            <div class="col-6 botao" >
                <form method="post">
	                <div class="form-check form-check-inline">
	                    <input type="search" class="form-control rounded-pill" placeholder="Search my teams.."name="Search" id="id_search">
	                    <button  id="searchBtn" type="searchbtn" ></button>
	                </div>
	            </form>
            </div>

 		</div>
 		 <div class="row traco">
        	<div class="col-2">
              	<p class="equipa">Team x</p>
            </div>
            <div class="col-4">
                <p class="game" id="details">Next game:</p>
            </div>
            <div class="col-2">
            	<p class="game" id="round">Round</p>
            </div>
            <div class="col-2">
            	<p class="game" id="place">2nd place</p>
            </div>
            <div class="col-2">
            	<a class="btn rounded-pill" id="infoBtn" href="#">Info</a>
            </div>

 		</div>
        <a class="btn rounded-pill pull-right" role="button" id="backBtn" href={{ request.META.HTTP_REFERER }}>Back</a>
    </div>
    
    
{% endblock %}