{% load static %}

<nav class="navbar fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="/">
                <img src="{% static 'appEball/assets/logo.png' %}">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <right>
                <a id="TeamsNav" href="/teams_list/"><span class="glyphicon glyphicon-user"></span>Teams</a>
                <a id="TournamentsNav" href=""><span class="glyphicon glyphicon-user"></span>Tournaments</a>
                <a id="HelpNav" href=""><span class="glyphicon glyphicon-user"></span>Help</a>
                <a id="LoginNav" href="/login/"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                <a id="RegisterNav" href="/register/"><span class="glyphicon glyphicon-user"></span>Register</a>
            </right>
        </ul>
    </div>
</nav>