{% extends 'appEball/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/new_team.css' %}">
{% endblock %}

{% block content %}
    <div class="form-group card" id="teamCard">
        <h1>New Team</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col" id="middleColLeft">
                    <div class="row">
                        <label for="id_name">Team's name:</label>
                        <input type="text" class="form-control rounded-pill" placeholder="Enter the Team's name" name="name" maxlength="100" required="" id="id_name">
                    </div>
                    <div class="row">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose tactic
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for u in tacticChoice %}
                            <a class="dropdown-item" href="#">{{ u.0 }}</a>
                            {% endfor %}
                          </div>
                        </div>
                         

                        
                    </div>
                    <div class="row" >
                        
                    </div>
                    <div class="row">
                        
                    </div>
                </div>
                <div class="col" id="middleColRight">
                    <div class="row">
                        
                    </div>    
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        
                    </div>
                    <button class="btn rounded-pill" type="submit" id="createTournament">Create Tournament</button>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
    </div>
{% endblock %}