{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/new_tournament.css' %}">
{% endblock %}

{% block title %}
    New tournament
{% endblock %}

{% block content2 %}
    <div class="form-group" id="tournCard">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col" style="margin-left: 60px;">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="id_name">Tournament's name:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded-pill" placeholder="Enter the tournament's name" name="name" maxlength="100" required="" id="id_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="id_maxTeams">Max Teams:</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control rounded-pill" name="maxTeams" maxlength="100" required="" style="width: 190px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="id_beginDate">Begin date:</label>
                        </div>
                        <div class="col">
                            <input  type="date" class="form-control rounded-pill" placeholder="Enter begin date" name="beginDate" style="width: 190px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="id_beginDate">End date:</label>
                        </div>
                        <div class="col">
                            <input type="date" class="form-control rounded-pill" placeholder="Enter a username" name="endDate" style="width: 190px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="id_gameDays">Game Days:</label>
                        </div>
                        <div class="col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for u in week%}
                                    <label class="btn btn-secondary rounded-pill">
                                        <input type="checkbox" checked="checked" name="gameDays" value="{{u.0}}"> {{u.0}}
                                    </label>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn rounded-pill" type="submit" id="createTournament">Create Tournament</button>
                </div>
                <div class="col">
                    <a class= "btn rounded-pill" id= "back" href={{request.META.HTTP_REFERER}}>Back</a>
                </div>

            </div>
        </form>
    </div>
{% endblock %}