{% extends 'appEball/base_with_grey_background.html' %}{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/new_team.css' %}">
{% endblock %}

{% block content2 %}
    <div class="form-group card" id="teamCard">
        <h1>New Team</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col" id="middleColLeft">
                    <div class="row">
                        <label for="id_name">Team's name:</label>
                        <input type="text" class="form-control rounded-pill" placeholder="Enter the Team's name" name="name" maxlength="100" required="" id="id_name">
                    </div>
                    <div class="row">
                        <div class="form-group">
                              <label for="sel1">Select tactic:</label>
                              <select class="form-control rounded-pill" id="sel1" name="tactic">
                                {% for u in tactics%}
                                    <option value="{{u.1}}">{{u.1}}</option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>
                    <div class="row" >
                    </div>
                    <div class="row">
                    </div>
                </div>
                <div class="col" id="middleColRight">
                    <div class="row">
                    </div>    
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <button class="btn rounded-pill" type="submit" id="createTeam">Create Team</button>
                    <div class="row">
                         <a class= "btn rounded-pill btn-block" id= "back" href={{request.META.HTTP_REFERER}}>Back</a>

                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
    </div>
{% endblock %}