{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/teams_list.css' %}">
    <script type="text/javascript" src="{% static 'appEball/js/checkTeamName.js' %}"></script>
{% endblock %}

{% block title %}
    Teams
{% endblock %}

{% block content2 %}    

    <div class="content" id="tabsContent">

        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" >New team</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" >All teams</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="my-tab" data-toggle="tab" href="#my" role="tab" >My teams</a>
                </li>             
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade border border-1" id="new" role="tabpanel" aria-labelledby="new-tab">
                <form method="post">
                    {% csrf_token %}
                    <div class="content1">
                        <div class="row" >
                            <div class="col-sm-2">
                                <label for="id_name">Team's name:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control rounded-pill" placeholder="Enter the Team's name" name="name" maxlength="100" required="" id="id_name" style="width: 400px; ">   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="tactic">Select tactic:</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control rounded-pill" id="sel1" name="tactic">
                                    {% for t in tactics%}
                                        <option value="{{t.pk}}">{{t.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="sel1">Select tournament:</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control rounded-pill" id="seltournament" name="tournament">
                                    {% for t in tournaments%}
                                        <option value={{t.pk}}>{{t.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>  
                    </div> 
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn rounded-pill" type="submit" id="pageBtn" style="width: 10%;">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade border border-1 active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                {% for t in allTeams %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-5">
                            <a class="userLabel line" href="{% url 'appEball:team_info' t.1.pk %}"><b>{{ t.1.name }}</b></a>
                        </div>
                        <div class="col">
                            {% if user.username == "admin"  or t.1.captain == user %}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_team' t.1.pk %}" id='pageBtn' >Delete</a>
                            {% endif %}
                            {% if not user.is_authenticated %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:register' %}" id='pageBtn'>Join Team</a>
                            {% elif user.is_authenticated and t.1.pk not in myTeamsList and t.1.tournament.pk not in myTournaments %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:team_info' t.1.pk %}" id='pageBtn'>Join Team </a>
                            {% endif %} 
                            <p class="d-inline-block text-truncat" id="p1">{{ t.2 }}/16 spots left</p>
                            <p class="d-inline-block text-truncat" id="p2">{{ t.1.tournament.name }}</p>        
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade border border-1" id="my" role="tabpanel" aria-labelledby="my-tab">
                {% for t in myTeams %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-3">
                            <a class="userLabel line" href="{% url 'appEball:team_info' t.1.pk %}"><b>{{ t.1.name }}</b></a>
                        </div>
                        <div class="col" id=colinfo>
                            {% if user.username == "admin" or t.1.captain == user%}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_team' t.1.pk %}" id='pageBtn' >Delete</a>
                            {% endif %}
                        
                            {% if t.3 == 0 %}
                                <p class="d-inline-block text-truncat" id="p2">Tournament finished.</p>
                            {% elif t.3 == 1 %}
                                <p class="d-inline-block text-truncat" id="p2">Waiting for tournament to start...</p>
                            {% else %}
                                <p class="d-inline-block text-truncat" id="p2"><b>Next match:</b> {{t.3.slot.date|date:'d-m-Y, H:i'}}</p>
                                <p class="d-inline-block text-truncat" id="p1">Round {{t.3.gRound}}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}