{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'appEball/css/team_info.css' %}">
{% endblock %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col">
                {% csrf_token %}
                <div class="row">
                    <div class="col-7" id="playersCol">
                        {% for st in sts %}
                            <div class="row">
                                <div class="col">
                                    {% if st %}
                                        {{ st.user.firstName }} {{ st.user.lastName }}
                                    {% else %}
                                        <p>No one in this position yet.</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    ST
                                </div>
                            </div>
                        {% endfor %}
                        {% for fw in fws %}
                            <div class="row">
                                <div class="col">
                                    {% if fw %}
                                        {{ fw.user.firstName }} {{ fw.user.lastName }}
                                    {% else %}
                                        <p>No one in this position yet.</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    FW
                                </div>
                            </div>
                        {% endfor %}
                        {% for mf in mfs %}
                            <div class="row">
                                <div class="col">
                                    {% if mf %}
                                        {{ mf.user.firstName }} {{ mf.user.lastName }}
                                    {% else %}
                                        <p>No one in this position yet.</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    MF
                                </div>
                            </div>
                        {% endfor %}
                        {% for df in dfs %}
                            <div class="row">
                                <div class="col">
                                    {% if df %}
                                        {{ df.user.firstName }} {{ df.user.lastName }}
                                    {% else %}
                                    <p>No one in this position yet.</p>                                    
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    DF
                                </div>
                            </div>
                        {% endfor %}
                        {% for gk in gks %}
                            <div class="row">
                                <div class="col">
                                    {% if gk %}
                                        {{ gk.user.firstName }} {{ gk.user.lastName }}
                                    {% else %}
                                        <p>No one in this position yet.</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    bola
                                </div>
                                <div class="col">
                                    GK
                                </div>
                            </div>
                        {% endfor %}
                        {% if subsList %}
                        {% endif %}  
                    </div>
                    <div class="col">
                            <button class="btn rounded-pill" id="joinBtn" type="submit">Join Team</button>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}