{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/teams_list.css' %}">
{% endblock %}

{% block title %}
    Teams
{% endblock %}

{% block content2 %}    

    <div class="content" id="tabsContent">

        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" >New team</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" >All teams</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="my-tab" data-toggle="tab" href="#my" role="tab" >My teams</a>
                </li>             
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade border border-1" id="new" role="tabpanel" aria-labelledby="new-tab">
                <form method="post">
                    {% csrf_token %}
                    <div class="content1">
                        <div class="row" >
                            <div class="col-sm-2">
                                <label for="id_name">Team's name:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control rounded-pill" placeholder="Enter the Team's name" name="name" maxlength="100" required="" id="id_name" style="width: 400px; ">   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="tactic">Select tactic:</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control rounded-pill" id="sel1" name="tactic">
                                    {% for t in tactics%}
                                        <option value="{{t.pk}}">{{t.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="sel1">Select tournament:</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control rounded-pill" id="sel1" name="tournament">
                                    {% for t in tournaments%}
                                        <option value={{t.pk}}>{{t.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>  
                    </div> 
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn rounded-pill" type="submit" id="pageBtn" style="width: 10%;">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade border border-1 active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                {% for t in allTeams %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ t.1.name }}</b></p>
                        </div>
                        <div class="col">
                            {% if user.username == "admin" %}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_team' t.1.pk %}" id='pageBtn' >Delete</a>
                            {% endif %}
                            <a class="btn rounded-pill" href="{% url 'appEball:join_team' t.1.pk %}" id='pageBtn' >Info</a>
                            {% if t.3 %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:join_team' t.1.pk %}" id='pageBtn'>Join Team </a>
                            {% endif %}
                            <p class="d-inline-block text-truncat" id="p1">{{ t.2 }}/15 spots left</p>
                            <p class="d-inline-block text-truncat" id="p2">{{ t.1.tournament.name }}</p>        
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade border border-1" id="my" role="tabpanel" aria-labelledby="my-tab">
                {% for t in myTeams %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ t.1.team.name }}</b></p>
                        </div>
                        <div class="col">
                            <a class="btn rounded-pill" href="{% url 'appEball:join_team' t.1.pk %}" id='pageBtn' >Info</a>

                            {% if user.username == "admin" or t.1.user == user%}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_team' t.1.pk %}" id='pageBtn' >Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}