{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/tournaments.css' %}">
{% endblock %}

{% block title %}
    Tournaments
{% endblock %}

{% block content2 %}    

    <div class="content" id="tabsContent">

        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            {% if user.is_authenticated and user.isTournamentManager%}
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" >New tournament</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" >All tournaments</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade border border-1" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row" style="height: 60%;">
                            <div class="col-1"></div>
                            <div class="col" id="middleColLeft">
                                <div class="row">
                                    <label for="id_name">Tournament's name:</label>
                                    <input type="text" class="form-control rounded-pill" placeholder="Enter the Tournament's name" name="name" maxlength="100" required="" id="id_name" style="width: 400px; margin-left: 30px;">
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="sel1">Select tactic:</label>
                                        <select class="form-control rounded-pill" id="sel1" name="tactic">
                                            {% for u in tactics%}
                                                <option value="{{u.1}}">{{u.1}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn rounded-pill" type="submit" id="pageBtn">Create Team</button>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="tab-pane fade show active border border-1" id="all" role="tabpanel" aria-labelledby="all-tab">
                {% for t in allTeams %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ t.1.name }}</b></p>
                        </div>
                        <div class="col">
                            {% if user.username == "admin" %}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_team' t.1.pk %}" id='pageBtn'>Delete Team</a>
                            {% endif %}
                            <a class="btn rounded-pill"  href="" id='pageBtn'>Join Team</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}