{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/tournament_teams.css' %}">
{% endblock %}

{% block content2 %}

    <div class="content">
        <div class="row">
            <div class="col-4">
                <h3>Tournament</h3>
                <h1 class="name_Tournament">Uc Tourne</h1>
            </div>
            <div class="col-1">
            <!--botao para a tras-->
            </div>
            <div class="col-3">
                <p class="days">Game days</p>
            </div>
            <div class="col-1">
                <!--botao para a frente-->
            </div>

        </div>
        {% for i in  '01'|make_list %}
            <div class="row traco cor">
            
                <div class="col-4"></div>
                <div class="col-4">
                    <p class="details" id="details">Wednesday, 20:00 -22:00 </p>
                </div>

     		</div>
            <div class="row traco ">
       
                <div class="col-4"></div>
                <div class="col-4">
                     <p class="details" id="details">Wednesday, 20:00 -22:00 </p>
                </div>
                
        </div>
        {% endfor %}
        <form method="post">
        <div class="row space">
               <h2 >Teams</h2>
        </div>
        <div class="row traco cor">
            <div class="col-2">
                <p class="subtitulo_barra">Teams</p>
            </div>
            <div class="col-2">
                <p class="subtitulo_barra">Tatic</p>
            </div>
            <div class="col-2">
                <p class="subtitulo_barra" >Goalkeeper</p>
            </div>
            <div class="col-1">
                <p class="subtitulo_barra" >Defender</p>
            </div>
            <div class="col-1">
                <p class="subtitulo_barra" >Midfielder</p>
            </div>
            <div class="col-1">
                <p class="subtitulo_barra" >Forward</p>
            </div>
            <div class="col-1">
                <p class="subtitulo_barra" >Striker</p>
            </div>
        </div>
        <div class="row traco ">
       
            <div class="col-2">
                <p class="titulo_barra" id="primeiro">Team x</p>
            </div>
     
            <div class="col-2">
                <p class="titulo_barra" id="tatic">4-3-2-1</p>
            </div>
            <div class="col-2">
                <p class="titulo_barra" id="Goalkeeper" >2</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Defender">3</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Midfielder">1</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Forward">2</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Striker">1</p>
            </div>
             <div class="col-2">
               <button class="btn rounded-pill" type="submit" id="jointeamBtn">Join Team</button>
            </div>
        </div>
        <div class="row traco cor">
     
            <div class="col-2">
                <p class="titulo_barra" id="primeiro">Team x</p>
            </div>
     
            <div class="col-2">
                <p class="titulo_barra" id="tatic">3-3-3-1</p>
            </div>
            <div class="col-2">
                <p class="titulo_barra" id="Goalkeeper" >1</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Defender">4</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Midfielder">0</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Forward">3</p>
            </div>
            <div class="col-1">
                <p class="titulo_barra" id="Striker">2</p>
            </div>
             <div class="col-2">
                <button class="btn rounded-pill" type="submit" id="jointeamBtn">Join Team</button>
            </div>
        </div>
        </form>
         <div class="row space"></div>
        <a class="btn rounded-pill pull-right" role="button" id="backBtn" href={{ request.META.HTTP_REFERER }}>Back</a>
    </div>
    
    
{% endblock %}