{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/tournament_info.css' %}">
{% endblock %}

{% block title %}
    Tournament
{% endblock %}

{% block content2 %}
    <h2>{{tournament.name}}</h2>

    <div class="content1">
        <div class="row">
            {% if manager %}
                <div class="col">
                    <a class="btn rounded-pill float-right"  href="{% url 'appEball:generate_games' tournament.pk %}" id='pageBtn'>Generate Games</a>
                </div>
            {% endif %}
        </div>
        {% if scores %}
            <div class="row" >
                <div class="col-1">
                    {% if scores %}
                        {# botao para a tras #}
                    {% endif %}
                </div>
                <div class="col" align='center'>
                    <p class="days">Round {{tournament.ronda}}</p>
                </div>
                <div class="col-1">
                    {% if scores %}
                        {# botao para a frente #}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col" align='center'>
                    <p class="days">Game days</p>
                </div>
            </div> 
            {% for day in days %}
                <div class="row" id="{{ day.0 }}" align='center'>
                    <div class="col" align='center'>
                        <p class="details" id="details">{{ day.1.gameDays }} , {{ day.1.startHour}} - {{ day.1.endHour}}</p>
                    </div>
                </div>
            {% endfor %}
            {% comment %} 
                {% for jogo in jogos %}
                    <div class="row" id="{{ day.0 }}">
                        <div class="col-2"></div>
                        <div class="col-2">
                            <p class="equipa1">{{ jogo.1.equipa1 }}</p>
                        </div>
                        <div class="col-4">
                            <p class="details" id="details">{{ jogo.1.dia }}, {{ jogo.1.horas }} , {{ jogo.1.campo }}</p>
                        </div>
                        <div class="col-2">
                            <p class="equipa2" id="round">{{ jogo.1.equipa2 }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endcomment %}
        {% endif %}
                       
    </div>
    {% if not scores %}
        <div class="content2">
            <div class="row space" >
                <div class="col" align='center'>
                    <p class="days">Teams</p>
                </div>
            </div>
            <div class="row geral" id="row2">
                <div class="col-sm-2">
                    <div class="row">

                        <div class="col" align='center'>
                            <p class="subtitulo_barra">Teams</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra">Tatic</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Goalkeeper</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Defender</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Midfielder</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Forward</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Striker</p>
                        </div>
                    </div>
                </div>
            </div>
            {% for team in teams %}
                <div class="row geral">
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Midfielder">{{ team.1.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col" align='center'>
                                <p class="titulo_barra" id="tatic">{{ team.1.tactic.nDF }}-{{ team.1.tactic.nMF }}-{{ team.1.tactic.nFW }}-{{ team.1.tactic.nST }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>

                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Midfielder">{{ team.1.availMF }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Forward">{{ team.1.availFW }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Striker">{{ team.1.availST }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                                {% if manager %}
                                    <div class="col" align='center'>
                                        <a class="btn rounded-pill" href="{% url 'appEball:delete_team' team.1.pk %}" id='pageBtn' >Kick Team</a>
                                    </div>
                                {% endif %}
                                <div class="col" align='center'>
                                    <a class="btn rounded-pill"  href="{% url 'appEball:join_team' team.1.pk %}" id='pageBtn'>Join Team</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="content2">
            <div class="row space" >
                <div class="col" align='center'>
                    <p class="days">Leader Board</p>
                </div>
            </div>
            <div class="row geral" id="row2">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra">Teams</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col" align='center'>
                            <p class="subtitulo_barra">Points</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra">Played</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Won</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Drawn</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >Lost</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >GF</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >GA</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtitulo_barra" >GD</p>
                        </div>
                    </div>
                </div>
            </div>
            {% for team in teams %}
                <div class="row geral" id="row2">
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col" align='center'>
                                <p class="titulo_barra" id="tatic">{{ team.1.tactic.nDF }}-{{ team.1.tactic.nMF }}-{{ team.1.tactic.nFW }}-{{ team.1.tactic.nST }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Midfielder">{{ team.1.availMF }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Midfielder">{{ team.1.availMF }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Forward">{{ team.1.availFW }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Striker">{{ team.1.availST }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="titulo_barra" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                                {% if manager %}
                                <div class="col" align='center'>
                                    <button class="btn rounded-pill" type="submit" id="pageBtn">Kick Team</button>
                                </div>
                                {% endif %}
                                <div class="col" align='center'>
                                    <a class="btn rounded-pill"  href="{% url 'appEball:join_team' team.1.pk %}" id='pageBtn'>Join Team</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    
{% endblock %}