{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/tournament_info.css' %}">
{% endblock %}

{% block title %}
    Tournament
{% endblock %}

{% block content2 %}    
    <div class="row">
        <div class="col">
            <h2>{{tournament.name}}</h2>
        </div>
        <div class="col">
            {% if tournament.user == user and tournament.gRound == 0 and generate %}
                <a class="btn rounded-pill float-right"  href="{% url 'appEball:generate_games' tournament.pk %}" id='pageBtn'>Generate Games</a>
            {% endif %}


        </div>
        <div class="col" align='center'>
            <form method="post">
                {% csrf_token %}
                {% if user.is_authenticated and inTeam == False and inTournament == False and user.isAccepted%}
                    <button class="btn rounded-pill" type="submit" href="" id='pageBtn' name="submit"  style="width: 160px;">Join as Reserve</button>
                {% endif %}
                {% if user.is_authenticated and user.isAccepted %}
                    <a class="btn rounded-pill"  href="{% url 'appEball:askSub' tournament.pk %}" id='pageBtn' style="width: 160px; padding-top: 2%; margin-left: 20px;">See Reserves</a>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="content">
        {% if gRound > 0 and tournament.gRound != 0  %}
            <div class="row" style="margin-top: 1%;">
                <div class="col">
                    {% if gRound > 1 %}
                        <a class="float-right" href="{% url 'appEball:change_round' tournament.pk gRound less %}">
                            <img src="{% static 'appEball/assets/left_arrow.png' %}" alt="">
                        </a>
                    {% endif %}
                </div>
                <div class="col-sm-3" align='center'>
                    <p class="title">Round {{ gRound }}</p>
                </div>
                <div class="col">
                    {% if maxRound > gRound %}
                        <a class="float-left" href="{% url 'appEball:change_round' tournament.pk gRound plus %}">
                            <img src="{% static 'appEball/assets/right_arrow.png' %}" alt="">
                        </a>
                    {% endif %}
                </div>
            </div>
            {% for game in games %}
                <div class="row disp" id="{{ game.0 }}" align='center'>
                    <div class="col" align='right'>
                        {% if user.is_authenticated %}
                            <a class="team" href="{% url 'appEball:team_info' game.1.team1.pk %}">
                                <p class="team">{{ game.1.team1.name }} </p>
                            </a>
                        {% else %}
                            <a class="team" href="{% url 'appEball:login' %}">
                                <p class="team">{{ game.1.team1.name }} </p>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-1" align='right' style="margin: none;">
                        <p>{% if game.1.result.goalsT1Final < 0 and game.1.result.goalsT2Final < 0 %} NF {% else %} {{ game.1.result.goalsT1Final }} {% endif %}</p>
                    </div>
                    <div class="col-sm-4" align='center'>
                        {% if user.is_authenticated %}
                            <a class="team" href="{% url 'appEball:game' game.1.pk %}">
                                <p class="center game">{{ game.1.slot.date|date:'d-m-Y, H:i' }}, {{ game.1.slot.field.name }} </p>
                            </a>
                        {% else %}
                            <a class="team" href="{% url 'appEball:login' %}">
                                <p class="center game">{{ game.1.slot.date|date:'d-m-Y, H:i' }}, {{ game.1.slot.field.name }} </p>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-1" align='left' style="margin: none;">
                        <p>{% if game.1.result.goalsT1Final < 0 and game.1.result.goalsT2Final < 0 %} NF {% else %} {{ game.1.result.goalsT2Final }} {% endif %}</p>
                    </div>
                    <div class="col" align='left'>
                        {% if user.is_authenticated %}
                            <a class="team" href="{% url 'appEball:team_info' game.1.team2.pk %}">
                                <p class="team"> {{ game.1.team2.name }} </p>
                            </a>
                        {% else %}
                            <a class="team" href="{% url 'appEball:login' %}">
                                <p class="team"> {{ game.1.team2.name }} </p>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row" style="margin-top: 1%;">
                <div class="col" align='center'>
                    <p class="title">Game days</p>
                </div>
            </div> 
            {% for day in days %}
                <div class="row" id="{{ day.0 }}" align='center'>
                    <div class="col" align='center'>
                        <p class="details" id="details">{{ day.2 }}, {{day.1.start|date:'H:i'}} - {{day.1.end|date:'H:i'}}, {{ day.1.field.name }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}   
        {% if gRound == 0 or tournament.gRound == 0 %}
            <div class="row" style="margin-top: 2%;">
                <div class="col" align='center'>
                    <p class="title">Teams</p>
                </div>
            </div>
            <div class="row min" id="row2">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col" align='center'>
                            <p class="subtopRow">Teams</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col"  align='center'>
                            <p class="subtopRow">Tatic</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Goalkeeper</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Defender</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Midfielder</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Forward</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Striker</p>
                        </div>
                    </div>
                </div>
            </div>
            {% for team in teams %}
                <div class="row" id={{ team.0 }}>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col"  align='center'>
                                <a href="">
                                    <p class="topRow" id="Midfielder" style="color: #FFE603">{{ team.1.name }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col" align='center'>
                                <p class="topRow" id="tatic">{{ team.1.tactic.name }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Goalkeeper" >{{ team.1.availGK }}</p>
                            </div>

                            <div class="col"  align='center'>
                                <p class="topRow" id="Goalkeeper" >{{ team.1.availDF }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Midfielder">{{ team.1.availMF }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Forward">{{ team.1.availFW }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Striker">{{ team.1.availST }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row" style="padding-right: 20px">
                            {% if tournament.user == user %}
                                <div class="col" align='center'>
                                    <a class="btn rounded-pill" href="{% url 'appEball:delete_team' team.1.pk %}" id='pageBtn' >Kick Team</a>
                                </div>
                            {% endif %}
                            {% if not user.is_authenticated %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:login' %}" id='pageBtn'>Join Team</a>
                            {% elif user.is_authenticated and team.1.pk not in myTeamsList and team.1.tournament.pk not in myTournamentsList %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:team_info' team.1.pk %}" id='pageBtn'>Join Team </a>
                            {% else %}
                                <a class="btn rounded-pill disabled"  href="{% url 'appEball:team_info' team.1.pk %}" id='pageBtn'>Join Team </a>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row space" style="margin-top: 2%;">
                <div class="col" align='center'>
                    <p class="title">Leader Board</p>
                </div>
            </div>
            <div class="row min" id="row2">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col"  align='center'>
                            <p class="subtopRow">Teams</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col" align='center'>
                            <p class="subtopRow">Points</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow">Played</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Won</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Drawn</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >Lost</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >GF</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >GA</p>
                        </div>
                        <div class="col"  align='center'>
                            <p class="subtopRow" >GD</p>
                        </div>
                    </div>
                </div>
            </div>
            {% for team in teams %}
                <div class="row" id={{ team.0 }}>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col"  align='center'>
                                <p class="topRow">{{ team.1.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col"  align='center'>
                                <p class="topRow">{{ team.1.points }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow">{{ team.1.played }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow">{{ team.1.won }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Midfielder">{{ team.1.drawn }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Midfielder">{{ team.1.lost }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Forward">{{ team.1.goalsFor }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Striker">{{ team.1.goalsAgainst }}</p>
                            </div>
                            <div class="col"  align='center'>
                                <p class="topRow" id="Goalkeeper" >{{ team.1.goalsDif }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            {% if tournament.user == user %}
                                <div class="col" align='center'>
                                    <button class="btn rounded-pill" type="submit" id="pageBtn">Kick Team</button>
                                </div>
                            {% endif %}
                            {% if not user.is_authenticated %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:login' %}" id='pageBtn'>Join Team</a>
                            {% elif user.is_authenticated and team.1.pk not in myTeamsList and team.1.tournament.pk not in myTournamentsList %}
                                <a class="btn rounded-pill"  href="{% url 'appEball:team_info' team.1.pk %}" id='pageBtn'>Join Team </a>
                            {% else %}
                                <a class="btn rounded-pill disabled"  href="{% url 'appEball:team_info' team.1.pk %}" id='pageBtn'>Join Team </a>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}    
    </div>

{% endblock %}


