{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/tournaments.css' %}">
{% endblock %}

{% block title %}
    Tournaments
{% endblock %}

{% block content2 %}    

    <div class="content" id="tabsContent">

        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            {% if user.is_authenticated and user.isTournamentManager%}
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" >New tournament</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" >All tournaments</a>
            </li>
            {% if user.is_authenticated and user.isTournamentManager%}
                <li class="nav-item">
                    <a class="nav-link" id="my-tab" data-toggle="tab" href="#my" role="tab" >My tournaments</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade border border-1" id="new" role="tabpanel" aria-labelledby="new-tab">
                <form method="post">
                    {% csrf_token %}
                    <div class="content1">
                        <div class="row" >
                            <div class="col-sm-2">
                                <label for="id_name">Tournament's name:</label>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control rounded-pill" placeholder="Enter the tournament's name" name="name" maxlength="100" required="" id="id_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="id_maxTeams">Max Teams:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="number" class="form-control rounded-pill" name="maxTeams" maxlength="100" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="id_beginDate">Begin date:</label>
                            </div>
                            <div class="col-sm-3">
                                <input  type="date" class="form-control rounded-pill" placeholder="Enter begin date" name="beginDate" >
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="id_beginDate">End date:</label>
                            </div>
                            <div class="col-3">
                                <input type="date" class="form-control rounded-pill" placeholder="Enter a username" name="endDate">
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="id_gameDays">Game Days:</label>
                            </div>
                            <div class="col-3">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for u in week%}
                                        <label class="btn btn-secondary rounded-pill">
                                            <input type="checkbox" checked="checked" name="gameDays" value="{{u.0}}"> {{u.0}}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn rounded-pill" type="submit" id="pageBtn" name="submit" style="width: 10%;">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade show active border border-1" id="all" role="tabpanel" aria-labelledby="all-tab">
                {% for t in allTournaments %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ t.1.name }}</b></p>
                        </div>
                        <div class="col">
                            {% if user.username == "admin" %}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_tournament' t.1.pk %}" id='pageBtn' style="width: 15%;">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade border border-1" id="my" role="tabpanel" aria-labelledby="my-tab">
                {% for t in myTournaments %}
                    <div class="row" id="{{ t.0 }}">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ t.1.name }}</b></p>
                        </div>
                        <div class="col">
                            {% if user.username == "admin" or t.1.user == user%}
                                <a class="btn rounded-pill" href="{% url 'appEball:delete_tournament' t.1.pk %}" id='pageBtn' style="width: 15%;">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}