{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/user_profile.css' %}">
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block content2 %}
	<h2>{{ requestedUser.firstName }} {{ requestedUser.lastName }}</h2>
	<div class="row">
		<div class="col" id="profileCol">
			<div class="row min" id="row1">
				<div class="col-sm-2">
					<p class="userLabel line">Username:</p>
				</div>
				<div class="col">
					<p class="userInfo line">{{ requestedUser.username }}</p>
				</div>
			</div>
			<div class="row min" id="row2">
				<div class="col-sm-2">
					<p class="userLabel line">E-mail:</p>
				</div>
				<div class="col">
					<p class="userInfo line">{{ requestedUser.email }}</p>
				</div>
			</div>
			<div class="row min"  id="row1">
				<div class="col-sm-2">
					<p class="userLabel line">CC number:</p>
				</div>
				<div class="col">
					<p class="userInfo line">{{ requestedUser.ccNumber }}</p>
				</div>
			</div>
			<div class="row min" id="row2">
				<div class="col-sm-2">
					<p class="userLabel line">Phone number:</p>
				</div>
				<div class="col">
					<p class="userInfo line">{{ requestedUser.phoneNumber }}</p>
				</div>
			</div>
			{% if user == requestedUser %}
				<div class="row min" id="row1">
					<div class="col-sm-2">
						<p class="userLabel line">Next match:</p>
					</div>
					<div class="col">
						{% if nextGame %}
							<p class="userInfo line">{{ nextGame.tournament.name}}, {{ nextGame.slot.field.name}}, {{nextGame.slot.date|date:'d-m-Y, H:m'}}</p>
						{% else %}
							<p class="userInfo line">No matches in the future.</p>
						{% endif %}
					</div>
				</div>
				<div class="row min">
					<div class="col" align='center'>
						<a class="btn rounded-pill btn-block" href="{% url 'appEball:editUserProfile' user.username %}">Edit Profile</a>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col" id="colImg" align="right">
			<div class="row min"></div>
			<div class="row min" >
				<div class="col" align="right">
					<img class="rounded-circle border-1" src="{{ requestedUser.profileImg.url }}" style="max-width: 300px; max-height: 300px; border: solid 10px #727070;">
				</div>
			</div>
			<div class="row min"></div>
		</div>
	</div>
{% endblock %}
