{% extends 'appEball/base_with_grey_background.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'appEball/css/users.css' %}">
{% endblock %}

{% block content2 %}    
    <h1>Users</h1>

    <div class="content" id="tabsContent">

        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" >All users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" >Accepted users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="to-accept-tab" data-toggle="tab" href="#toAccept" role="tab">Users to accept</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tournament-tab" data-toggle="tab" href="#tManagers" role="tab">Tournaments Managers</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active border border-1" id="all" role="tabpanel" aria-labelledby="all-tab">
                {% for u in allUsers %}
                    <div class="row" id="{{ u.0 }}" onclick="location.href='{% url 'appEball:userProfile' u.1.username %}'">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ u.1.firstName }} {{ u.1.lastName }}</b> ({{ u.1.username }})</p>
                        </div>
                        <div class="col">
                            <a class="btn rounded-pill" href="{% url 'appEball:delete_user' u.1.username %}" id='pageBtn'>Delete User</a>
                            {% if u.1.isAccepted %}
                                {% if u.1.isTournamentManager == False %}
                                    <a class="btn rounded-pill" href="{% url 'appEball:is_tournament_manager' u.1.username %}" id='pageBtn'>Tournament manager</a>
                                {% else %}
                                    <a class="btn rounded-pill" href="{% url 'appEball:is_tournament_manager' u.1.username %}" id='pageBtnActive'>Tournament manager</a>
                                {% endif %}
                            {% else %}
                                <a class="btn rounded-pill" href="{% url 'appEball:accept_user' u.1.username %}" id='pageBtn'>Accept User</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade border border-1" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                {% for u in acceptedUsers %}
                    <div class="row" id="{{ u.0 }}" onclick="location.href='{% url 'appEball:userProfile' u.1.username %}'">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ u.1.firstName }} {{ u.1.lastName }}</b> ({{ u.1.username }})</p>
                        </div>
                        <div class="col">
                            <a class="btn rounded-pill" href="{% url 'appEball:delete_user' u.1.username %}" id='pageBtn'>Delete User</a>
                            {% if u.1.isTournamentManager == False %}
                                <a class="btn rounded-pill" href="{% url 'appEball:is_tournament_manager' u.1.username %}" id='pageBtn'>Tournament manager</a>
                            {% else %}
                                <a class="btn rounded-pill" href="{% url 'appEball:is_tournament_manager' u.1.username %}" id='pageBtnActive'>Tournament manager</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade border border-1" id="toAccept" role="tabpanel" aria-labelledby="to-accept-tab">
                {% for u in notAcceptedUsers %}
                    <div class="row" id="{{ u.0 }}" onclick="location.href='{% url 'appEball:userProfile' u.1.username %}'">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ u.1.firstName }} {{ u.1.lastName }}</b> ({{ u.1.username }})</p>
                        </div>
                        <div class="col">
                            <a class="btn rounded-pill" href="{% url 'appEball:delete_user' u.1.username %}" id='pageBtn'>Delete User</a>
                            <a class="btn rounded-pill" href="{% url 'appEball:accept_user' u.1.username %}" id='pageBtn'>Accept User</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade border border-1" id="tManagers" role="tabpanel" aria-labelledby="tournament-tab">
                {% for u in tournamentsManagers %}
                    <div class="row" id="{{ u.0 }}" onclick="location.href='{% url 'appEball:userProfile' u.1.username %}'">
                        <div class="col-sm-5">
                            <p class="userLabel line"><b>{{ u.1.firstName }} {{ u.1.lastName }}</b> ({{ u.1.username }})</p>
                        </div>
                        <div class="col">
                            <a class="btn rounded-pill" href="{% url 'appEball:delete_user' u.1.username %}" id='pageBtn'>Delete User</a>
                            {% if u.1.isTournamentManager == False %}
                                <a class="btn rounded-pill" href="{% url 'appEball:is_tournament_manager' u.1.username %}" id='pageBtn'>Tournament manager</a>
                            {% else %}
                                <a class="btn rounded-pill" href="{% url 'appEball:is_tournament_manager' u.1.username %}" id='pageBtnActive'>Tournament manager</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}